<section>
  <div class="container">
    <h1>Let`s generate some forms</h1>
    <div class="grid">
      <div>
        <div>
          <h2>Input</h2>
          <p>Input JSON</p>
          <textarea name="input-text"></textarea>
        </div>
        <button>Generate</button>
        <div class="error-log">
          <p class="error">Error happend: there is an error</p>
          <p class="error">Error happend: there is an error</p>
          <p class="error">Error happend: there is an error</p>
        </div>
      </div>
      <div>
        <div>
          <h2>Output</h2>
          <p>Output HTML</p>
          <textarea name="output-html"></textarea>
        </div>
        <div>
          <p>Output Typescript</p>
          <textarea name="output-ts"></textarea>
        </div>
      </div>
    </div>
  </div>
</section>
