<section>
  <div class="container">
    <h1>Let`s generate some forms</h1>
    <div class="grid">
      <div>
        <div>
          <h2>Input</h2>
          <p>Input JSON</p>
          <textarea name="inputText" [(ngModel)]="inputText"></textarea>
        </div>
        <button (click)="onSubmit()">Generate</button>
        <div class="error-log">
          <p class="error" *ngFor="let err of errors">{{ err }}</p>
        </div>
      </div>
      <div>
        <div>
          <h2>Output</h2>
          <p>Output HTML</p>
          <textarea name="outputHtml" [(ngModel)]="outputHtml"></textarea>
        </div>
        <div>
          <p>Output Typescript</p>
          <textarea name="outputTS" [(ngModel)]="outputTS"></textarea>
        </div>
      </div>
    </div>
  </div>
</section>
