// > Font
// -> Font family
$font-family-main: "Open Sans", sans-serif;
// -> Sizes

$font-size-small: 0.8rem;
$font-size-normal: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 2.5rem;

// -> Wegihts

$font-weight-normal: 400;
$font-weight-md: 500;
$font-weight-sb: 600;
$font-weight-b: 700;

// > Colors
$color-main: rgb(89, 147, 255);
$color-main-dark-0: rgb(55, 108, 207);
$color-main-dark-1: rgb(35, 77, 153);
$color-dark-0: #242424;
$color-dark-1: #1c1c1c;
$color-light: #f8f8f8;

// > Borders
$border-radius-sm: 0.75em;
$border-radius-normal: 1em;

// > Layout
// -> Grid
$grid-gap: 32px;
