<section class="intro-section">
  <div class="card">
    <h1><span class="main-text">Form Generetor</span> by 'two clicks'</h1>
    <p>
      This application generates HTML and typescript form-code for angular app,
      based on JSON string that you`ve passed.
    </p>
    <ul>
      <li>
        <a href="">Github</a>
      </li>
      <li>
        <a href="">Pateron</a>
      </li>
    </ul>
  </div>
  <div>
    <img src="assets/images/logo.svg" alt="" />
  </div>
</section>
<section class="desc-section">
  <article>
    <div class="content">
      <h3>How it works</h3>
      <p>
        Idea is to simplify form buildng proccess by auto-generating form-code
        that you than put in your application and magicaly it works.
      </p>
    </div>
    <footer>
      <button>See More</button>
    </footer>
  </article>
  <article>
    <div class="content">
      <h3>How to use</h3>
      <p>There are two ways to generate form.</p>
      <ul>
        <li>Generate form based on JSON string</li>
        <li>Interactive way (coming soon)</li>
      </ul>
    </div>

    <footer>
      <button>See More</button>
    </footer>
  </article>
  <article>
    <div class="content">
      <h3>When to use</h3>
      <p>
        Although you can use it to generate small and simple forms, main idea
        for this tool is to be used when there is a need for big, complex form
        with lot of fields.
      </p>
    </div>

    <footer>
      <button>See More</button>
    </footer>
  </article>
</section>
<section class="action-section">
  <div class="baner">
    <p>So what are you waiting for, go generate some forms</p>
    <button>Let`s Go</button>
  </div>
</section>
