<section class="intro-section">
  <div class="container">
    <div class="content">
      <div>
        <h1>Form Generator</h1>
        <p>Tool used to generate reactive forms</p>
        <button>Get Started</button>
        <ul>
          <li>
            <a href=""><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-patreon"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="desc-section">
    <h2>Useful info</h2>
    <div class="desc-section-grid">
      <article>
        <span class="icon"><i class="fas fa-wrench"></i></span>
        <div class="content">
          <h3>How it works</h3>
          <p>
            Idea is to simplify form buildng proccess by auto-generating
            form-code that you than put in your application and it just works.
          </p>
        </div>
        <footer>
          <button>See More</button>
        </footer>
      </article>
      <article>
        <span class="icon"><i class="fas fa-question"></i></span>
        <div class="content">
          <h3>How to use</h3>
          <p>There are two ways to generate form.</p>
          <ul>
            <li>Generate form based on JSON string</li>
            <li>Interactive way (coming soon)</li>
          </ul>
        </div>

        <footer>
          <button>See More</button>
        </footer>
      </article>
      <article>
        <span class="icon"><i class="fas fa-stopwatch"></i></span>
        <div class="content">
          <h3>Time is of the essence</h3>
          <p>
            Although you can use it to generate small and simple forms, main
            idea for this tool is to be used when there is a need for big,
            complex form with lot of fields.
          </p>
        </div>

        <footer>
          <button>See More</button>
        </footer>
      </article>
    </div>
  </section>
</div>
