@import "../../../styles/variables";
@import "../../../styles/mixins";
section {
  margin: 100px 0;
}
.intro-section {
  margin: 0;
  padding: 100px 0;
  background-color: $color-main;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    h1 {
      font-size: $font-size-xl;
    }
    p {
      font-size: $font-size-md;
    }
    ul {
      margin-top: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: $grid-gap;
      a {
        @include my-icon;
      }
    }
  }
}
.desc-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: $grid-gap;
  article {
    @include my-card;
  }
}
@include md {
  .intro-section {
    .content {
      h1 {
        font-size: $font-size-xxl;
      }
    }
  }
  .desc-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include lg {
}
@include xl {
  .desc-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
