<nav>
  <div class="brand">
    <img src="assets/images/logo.svg" alt="" />
  </div>
  <div class="links-wrapper">
    <div
      class="link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="">Home</a>
    </div>
    <div class="link" routerLinkActive="active">
      <a routerLink="/generator">Generator</a>
    </div>
    <div class="link" routerLinkActive="active">
      <a routerLink="/about">About</a>
    </div>
    <div class="link" routerLinkActive="active">
      <a routerLink="/pricing">Pricing</a>
    </div>
  </div>
  <div class="end">Github</div>
</nav>
